#root
{

}
html,body
{
    height: 100%;
}
body
{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}
.deleteButton
{
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
    color:tomato;
    
}
.pt-60
{
    padding-top: 60px;
}
.deleteButton:hover
{
    color:red;
}